.title {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 15px auto;
    position: relative;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #d37400;
    color: white;
}

table thead th:last-child {
    text-align: right;
    padding-right: 10px;
}

table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
    padding-right: 10px;
}

table tbody tr:hover {
    background-color: rgba(177, 177, 177, 0.297) !important;
}

table th {
    text-align: left;
}

tr td:first-child {
    text-align: left;
}

tr td:last-child {
    padding-right: 10px;
}

tr td {
    text-align: right;
}

.time-zone {
    font-size: 0.6em;
}

.red-color {
    color: red !important;
}

.green-color {
    color: green !important;
}

@media screen and (max-width: 30em) {
    .container {
        padding: 0 10px;
    }

    table tbody {
        font-size: 0.8em;
    }

    table thead {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 20em) {

    table {
        display: block;
    }

    table>*, table tr, table td, table th {
        display: block;
    }

    table thead th:last-child {
        font-size: 0.7em;
    }

    table tbody tr {
        height: auto;
        padding: 8px 0;
    }

    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
    }
}